.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
README-example.md
CHANGELOG-example.md
old/**
p.bat
*.lspt

**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**
