.vscode/**
.vscode-test/**
.gitignore
.eslintignore
vsc-extension-quickstart.md
README-example.md
CHANGELOG-example.md
old/**
p.bat
*.lspt

**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml

webpack.config.js

client/**
server/**
